{% extends 'base.html.twig' %}

{% block title %}Country index{% endblock %}

{% block body %}
    <h1>Country index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                {% if is_granted(['ROLE_COUNTRY_SHOW', 'ROLE_COUNTRY_EDIT']) %}
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.id }}</td>
                <td>{{ country.name }}</td>
                <td>{{ country.code }}</td>
                <td>
                    {% if is_granted('ROLE_COUNTRY_SHOW') %}
                        <a href="{{ path('app_country_show', {'id': country.id}) }}">show</a>
                    {% endif %}
                    {% if is_granted('ROLE_COUNTRY_EDIT') %}
                        <a href="{{ path('app_country_edit', {'id': country.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_COUNTRY_NEW') %}
        <a href="{{ path('app_country_new') }}">Create new</a>
    {% endif %}
{% endblock %}
