{% extends 'base.html.twig' %}

{% block title %}Measurement index{% endblock %}

{% block body %}
    <h1>Measurement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Location</th>
                <th>Date</th>
                <th>Temperature</th>
                <th>FeelsLike</th>
                <th>TempMin</th>
                <th>TempMax</th>
                <th>Pressure</th>
                <th>Precipitation</th>
                <th>Rain</th>
                <th>Snow</th>
                <th>Clouds</th>
                <th>Humidity</th>
                <th>WindSpeed</th>
                <th>WindGustSpeed</th>
                <th>WindDirection</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for measurement in measurements %}
            <tr>
                <td>{{ measurement.id }}</td>
                <td>{{ measurement.location.city }}</td>
                <td>{{ measurement.date ? measurement.date|date('Y-m-d') : '' }}</td>
                <td>{{ measurement.temperature }}</td>
                <td>{{ measurement.feelsLike }}</td>
                <td>{{ measurement.tempMin }}</td>
                <td>{{ measurement.tempMax }}</td>
                <td>{{ measurement.pressure }}</td>
                <td>{{ measurement.precipitation }}</td>
                <td>{{ measurement.rain }}</td>
                <td>{{ measurement.snow }}</td>
                <td>{{ measurement.clouds }}</td>
                <td>{{ measurement.humidity }}</td>
                <td>{{ measurement.windSpeed }}</td>
                <td>{{ measurement.windGustSpeed }}</td>
                <td>{{ measurement.windDirection }}</td>
                <td>
                    <a href="{{ path('app_measurement_show', {'id': measurement.id}) }}">show</a>
                    <a href="{{ path('app_measurement_edit', {'id': measurement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_measurement_new') }}">Create new</a>
{% endblock %}
